body{
    background:url(backgroundImage.jpeg), no-repeat;
    background-size:100%;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.citationNeeded{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: black;
}
.citationNeededM{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 123, 0);
    background-color: black;
}

#bodyParagraphContainer div{
    flex: 33%;
    padding-left: 15px;
    padding-right: 15px;
}

#howThisAffectsTires{
    border-top: none;
    border-bottom: none;
    border-right: solid;
    border-left: solid;
}

#title{
    margin:auto;
    text-align:center;
}
.container{
    display:flex;
}
#title h1{
    font-size:36px;
}
#title h2{
    font-size:26px;
}

.maxFriction{
    flex: 50%;
}
#maxFrictionText{

}
#maxFrictionPics{
    
}